.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-color: #7a7d8d;
}

.main-area {
  text-align: center;
}

.button-area {
  display: flex;
  justify-content: space-evenly;
}

.mainButtons {
  text-align: center;
  width: 200px;
}
